<div class="container">
    <h1>Documents Completed Lookup</h1>
    <form (ngSubmit)="onSubmit()" #lookUpForm="ngForm">
        <div class="form-group">
        <label for="name">Start date:</label>
        <input
            type="date"
            class="form-control"
            id="startDate"
            name="startDate"
            required
            [(ngModel)]="model.startDate">
        </div>
        <div class="form-group">
        <label for="startTime">Start hour:</label>
        <input type="number"
               class="form-control"
               id="startTime"
               name="startTime"
               required
               min="0" max="23"
               [(ngModel)]="model.startTime">
        </div>

        <p>
        End date time: {{ model.startDate }} {{ model.startTime }}
        </p>
        <button type="button" class="btn btn-default" (click)="lookUp(); lookUpForm.reset()">Look up</button>
    </form>
</div>
